<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<h1>Change Password</h1>
	<form action="/changepassword" method="POST">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br>
		<label for="oldpassword">Old Password:</label>
		<input type="password" id="oldpassword" name="oldpassword" required><br><br>
		<label for="newpassword">New Password:</label>
		<input type="password" id="newpassword" name="newpassword" required><br><br>
		<input type="submit" value="Change Password">
        <a href="/logout">Trang chủ</a>
	</form>
</body>
</html>
